body          { margin:0; font-family: "Trebuchet MS"; height: 100%; background-color: RGB(201,47,47); }
a             { text-decoration: none; color: #000; }
#top_shaddow  { position: absolute; width: 100%; min-width: 1000px!important; height: 200px; background: url(../images/site/background_degrade.png) repeat-x; }
#post_it_holder { position: relative; }
#post_it      { position: absolute; right: 40px; width: 220px; margin-top: 10px; }
.top_80		    { padding-top: 80px; }
#main_content { margin: 0; height: 600px; background: url(../images/site/body.png) no-repeat; }
#content      { margin: 70px; margin-top: 80px; }
#fande_holder { position: relative; }
#fande        { position: absolute; margin-top: -345px; right: -25px; }

#twitter_bird_holder { position: relative; }
#twitter_bird        { position: absolute; margin-top: -138px; right: 140px; }

#hights       { width: 100%; margin-top: -35px; }
#footer       { width: 100%; margin: 0; padding: 0; }
#twitter      { position: static; float: right; margin: 5px; margin-top: 30px; }

/*  TABS */
#tabs         { margin: 0; margin-top: 35px; width: 44px; }
#tabs div     { position: relative; list-style: none; padding: 0; margin:0; margin-bottom: -8px;}

.non_current  {}
.current      {}
