#lbOverlay { 
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 99998; 
	width: 100%; 
	height: 500px; 
}

#lbOverlay.grey { 
	background-color: #000000; 
}

#lbMain { 
	position: absolute;
	left: 0; 
	width: 100%; 
	height:800px;
	z-index: 99999; 
	text-align: center; 
	line-height: 0; 
}

#lbMain a img { 
	border: none; 
}

#lbOuterContainer { 
	position: relative; 
	background-color: #333;
	width: 400px; 
	height: 400px; 
	margin: 0 auto; 
}

#lbOuterContainer.grey { 
	border: 3px solid #333; 
}

#lbDetailsContainer {	
	font: 18px Arial; 
	font-weight: bold;
	color: #fff;
	background-color: #333; 
	width: 100%; 
	line-height: 1.4em;
	overflow: auto; 
	margin: 0 auto;
}

#lbDetailsContainer.grey { 
	border: 3px solid #333;
	border-top: none; 
}

#lbImageContainer, #lbIframeContainer { 
	padding: 10px; 
}

#lbLoading {
	position: absolute; 
	top: 45%; 
	left: 0%; 
	height: 32px; 
	width: 100%; 
	text-align: center; 
	line-height: 0; 
	background: url(../images/site/portfolio/loading.gif) center no-repeat;
}

#lbDetails { 
	float:left;
	margin-left: 14px; /* P.O.G arrumar depois */
}

#lbClose { 
	width: 50px; 
	height: 34px; 
	float: right; 
	margin-bottom: 2px; 
}

#lbClose.grey { 
	background: url(../images/site/portfolio/close.png) no-repeat; 
}
