<div class="grid_12">
	<div class="grid_5 alpha" id="home_description">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dignissim viverra. Donec ultricies augue sed erat elementum in auctor quam auctor. Suspendisse at ipsum sapien, eu accumsan dolor. 
		</p>

		<p>
			Quisque adipiscing semper leo, sagittis placerat lorem mollis eget. Proin sit amet nulla in massa semper dapibus. Vivamus eros mi, ornare vel vulputate in, fringilla in mauris. Aenean lacinia, arcu et ornare facilisis, lacus orci iaculis metus, eget mollis sem sapien at nulla. 
		</p>
	</div>

	<div class="grid_" style="float: left;" id="home_about">
		<div id="home_about_title">Nossos produtos</div>
		<div class="grid_2 alpha" style="float: left;" id="product_left"></div>

		<div class="grid_5" style="float: left;" id="product">
				<div class="grid_2 alpha" id="our_product_image">
					<%= image_tag("../images/site/about/flux_logo.png")%>
				</div>

				<div class="grid_2 omega" style="float: left;" id="our_product_description" >
					<b>Flux!</b>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
		</div>

		<div class="grid_2 omega" style="float: left;" id="product_right"></div>
	</div>
</div>
