<div class="grid_16" id="slider">
	<ul>
		<li>
			<div id="slider_content" class="grid_6 alpha">
				<a href="../images/site/portfolio/port_cursos_360.png" rel="lytebox" title="Real Cursos!">
					<%= image_tag("../images/site/portfolio/port_cursos_360.png") %>
				</a>
			</div>

			<div id="description" class="grid_5 omega">
				<h1>Real Cursos</h1>

				<p>
					<a href="http://www.cursos.realintercambio.com" target="_blank">cursos.realintercambio.com</a>
				</p>

				<p>
					<b>descrição: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
					<b>design: </b> Nulla sed tortor sapien, tempus venenatis nulla. <br />
					<b>características: </b>Quisque eu ligula pellentesque massa vehicula imperdiet ut ac turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sodales, neque vel dignissim pharetra, velit arcu eleifend augue, vel elementum libero dolor sed justo.
				</p>
			</div>
		</li>

		<li>
			<div id="slider_content" class="grid_6 alpha">
				<a href="../images/site/portfolio/port_cursos_360.png" rel="lytebox" title="Real Cursos!">
					<%= image_tag("../images/site/portfolio/port_cursos_360.png") %>
				</a>
			</div>

			<div id="description" class="grid_5 omega">
				<h1>Real Cursos</h1>

				<p>
					<a href="http://www.cursos.realintercambio.com" target="_blank">cursos.realintercambio.com</a>
				</p>

				<p>
					<b>descrição: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
					<b>design: </b> Nulla sed tortor sapien, tempus venenatis nulla. <br />
					<b>características: </b>Quisque eu ligula pellentesque massa vehicula imperdiet ut ac turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sodales, neque vel dignissim pharetra, velit arcu eleifend augue, vel elementum libero dolor sed justo. Praesent posuere viverra turpis sit amet vestibulum. Phasellus eget risus mauris, et tempor elit.
				</p>
			</div>
		</li>
	</ul>
</div>

<div id="arrows">
	<script type="text/javascript">
		$(document).ready(function(){
			$("#slider").easySlider({
				prevText:'<%= image_tag("../images/site/portfolio/arrow_left.png") %>',
				nextText:'<%= image_tag("../images/site/portfolio/arrow_right.png") %>',
				orientation: 'horizontal'
			});
		});
	</script>
</div>
