<div id="team" class="grid_16">
	<div class="grid_3 alpha">
		<div class="team_member_name">
			PEIXE
		</div>

		<div class="team_member_email">
			@fande.com.br
		</div>

		<div class="team_image">
			<%= link_to image_tag("site/team/lucas.png"), 'http://twitter.com/lucasengel', :popup => true %>
		</div>

		<div class="team_description">
			projeto gr&aacute;fico<br />
			design<br />
			ilustra&ccedil;&atilde;o<br />
			fotografia		
		</div>
	</div>

	<div class="grid_3">
		<div class="team_member_name">
			ALF
		</div>

		<div class="team_member_email">
			@fande.com.br
		</div>
		 
		<div class="team_image">
			<%= link_to image_tag("site/team/johalf.png"), 'http://twitter.com/johalf', :popup => true %>
		</div>

		<div class="team_description">
			desenvolvimento<br />
			ruby<br />
			rails<br />
			haml/sass<br />
			postgresql<br />
		</div>
	</div>

	<div class="grid_3 omega">
		<div class="team_member_name">
			GABITO
		</div>

		<div class="team_member_email">
			@fande.com.br
		</div>

		<div class="team_image">
			<%= link_to image_tag("site/team/gabriel.png"), 'http://twitter.com/gabrielengel', :popup => true %>
		</div>

		<div class="team_description">
			ger&ecirc;ncia de projeto<br />
			internet marketing<br />
			rails<br />
			haml/sass<br />
		</div>
	</div>
</div>
